@import url("https://fonts.googleapis.com/css2?family=Lato&family=Libre+Franklin&family=Playfair+Display&family=Poppins:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 92px;
}

.menu__btn {
  display: none;
}

.menu {
  margin-left: auto;
  margin-right: 20px;
}
.menu__list {
  display: flex;
  justify-content: space-between;
  color: #6C6C6C;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  line-height: 22px;
  letter-spacing: 2px;
}
.menu__list :hover {
  color: #AC1313;
  transition: all 0.3s;
}
.menu__list-item + .menu__list-item {
  margin-left: 40px;
}

.small-text {
  text-transform: uppercase;
  color: #D77474;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
}

.main-text {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  margin: 0 0 13px;
  font-family: "Poppins", sans-serif;
}

.cart {
  display: flex;
  align-items: center;
  border-left: 1px solid #EBEBEB;
  padding: 5px;
  font-family: "Libre Franklin", sans-serif;
  font-size: 14px;
}

.cart::before {
  margin-left: 10px;
  margin-right: 5px;
  content: url(../img/cart.svg);
}

.ampersand {
  font-weight: 400;
  font-size: 68px;
  line-height: 68px;
  color: #AC1313;
  position: relative;
  bottom: 10px;
  font-family: "Playfair Display", serif;
}

.btn {
  color: #ffffff;
  background-color: #AC1313;
  padding: 20px 40px;
  font-family: "Poppins";
  font-size: 12px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.btn:hover {
  background-color: #000000;
  position: relative;
  transition: all 0.4s;
}

.content {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.content__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 192px;
}
.content__box {
  max-width: 576px;
  font-family: "Poppins", sans-serif;
}
.content__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  margin: 0 0 13px;
}
.content__text {
  font-family: "Libre Franklin";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6C6C6C;
  margin-bottom: 51px;
}
.content__img-vase {
  width: 100%;
}

.benefits {
  padding: 120px 0;
}
.benefits__title {
  margin-top: 20px;
}
.benefits__text {
  text-align: center;
}
.benefits__box {
  display: flex;
  justify-content: space-between;
  padding: 60px 50px 90px;
}
.benefits__content {
  display: flex;
  justify-content: space-between;
}
.benefits__content-item {
  max-width: 510px;
}
.benefits__item-title {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 29px;
  line-height: 36px;
}
.benefits__item-text {
  font-family: "Libre Franklin";
  color: #6C6C6C;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-top: 26px;
}

.products {
  border-top: 1px solid #F5F5F5;
  border-bottom: 1px solid #F5F5F5;
  padding: 220px 0 0;
}
.products__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 86px;
  padding-bottom: 250px;
}
.products__item {
  min-width: 550px;
  height: 220px;
  background-color: #F5F5F5;
  position: relative;
}
.products__item-gold {
  position: absolute;
  top: -140px;
  left: 140px;
}
.products__item-orange {
  position: absolute;
  top: -80px;
  left: 100px;
}
.products__item-title {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
}
.products__item-description {
  max-width: 400px;
  margin-right: 180px;
}
.products__item-text {
  font-family: "Libre Franklin";
  font-weight: 400;
  font-size: 14px;
  color: #6C6C6C;
  margin: 23px 0;
  line-height: 24px;
}
.products__item-link {
  font-weight: 700;
  font-family: "Poppins";
  font-size: 14px;
  line-height: 24px;
}

.store {
  padding: 60px 0 120px;
}
.store__inner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 20px;
}
.store__text {
  text-align: center;
}
.store__title {
  margin-bottom: 63px;
}
.store__title-small {
  padding-bottom: 17px;
}
.store__item {
  margin-bottom: 20px;
  border-bottom: 1px solid #DBDBDB;
  overflow: hidden;
}
.store__item-img {
  opacity: 0.8;
}
.store__item-img:hover {
  transform: scale(1.05);
  transition: all 0.4s;
  opacity: 1;
}
.store__item:hover {
  border-color: #AC1313;
}
.store__item-text {
  padding: 15px 0;
}
.store__item-name {
  font-family: "Libre Franklin";
  color: #6C6C6C;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.store__item-price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.store__btn {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.collection {
  padding: 120px 0;
  background-size: cover;
  background-image: url(../img/collection.jpg);
}
.collection__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  margin-top: 10px;
}
.collection__text {
  font-family: "Libre Franklin";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #6C6C6C;
  margin-bottom: 50px;
}
.collection__text span {
  color: #AC1313;
}

.newsletter {
  padding: 130px 0;
  text-align: center;
}
.newsletter__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
}
.newsletter__title-small {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 40px 0 20px;
  letter-spacing: 2px;
  color: #D77474;
  text-transform: uppercase;
}
.newsletter__form {
  margin: 60px 0 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.newsletter__input {
  border-color: transparent;
  border: 1px solid #EBEBEB;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #A1A1A1;
  padding: 13px 150px 12px 40px;
}
.newsletter__btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 12px 50px;
  background-color: #000000;
  color: #fff;
}
.newsletter__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.newsletter__checkbox:checked + label::before {
  background-color: #8534FF;
  border-color: transparent;
}
.newsletter__checkbox + label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.newsletter__checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.newsletter__label {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #A1A1A1;
}

.footer {
  padding: 100px 0;
  background-color: #F9F9F9;
  font-family: "Libre Franklin";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #6C6C6C;
  text-align: center;
}
.footer__text {
  margin: 30px 0 70px;
}
.footer__box {
  display: flex;
  justify-content: space-between;
}
.footer__box-text {
  color: #000000;
  margin: 5px 0 20px;
}
.footer__box-item {
  min-width: 300px;
}/*# sourceMappingURL=styles.css.map */
